@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



h1 {
    color: blue;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    text-align: center;
    border: tomato;
}
h3 {
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    text-transform: uppercase;
    line-height: 28px;
    }
}
p {
    color: blue;
}
img {
    height: 200px;
}
