h1 {
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border: tomato;
}
h3 {
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    text-transform: uppercase;
    line-height: 28px;
    }
}
p {
    color: blue;
}
img {
    height: 200px;
}
